.authors {
  width: 100%;
  margin-top: 50px;

  &__table {
    min-width: 500px;
  }
  &__btns {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
  }
  &__btn-link {
    margin-left: 10px;
  }
}
td.mat-cell {
  width: 100px;
}
@media (max-width: 769px) {
}
